@page
@model VegeBioFinal.Pages.ProdutosCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}



<div id="productsWrapper">
    <ul id="products" data-role="listview" data-inset="true">
        @foreach (var product in Model.Produto)
        {
            <li class="product"> 
                    <img class="product-image" src="~/images/@product.imageurl" alt="Imagem do @product.nome" />      
                <form method="post">
                    <input type="hidden" asp-for="produto.id" value="@product.id" />
                    <input type="number" asp-for="Quantidade" placeholder="Quantidade" />
                    <button type="submit">Adicionar ao cabaz</button>
                </form>
                <p class="price">@string.Format("{0:C}", product.preco)</p>
                <p class="description">@product.descricao</p>
            </li>
        }
    </ul>
</div>




<style>
    #products {
        list-style: none;
    }

    .product {
        float: left;
        margin: 10px 12px;
        width: 215px;
    }

    .product-image {
        background-color: #edece8;
        border: 1px #e6e3d8 solid;
        height: 200px;
        margin: 0 0 7px 0;
        padding: 6px;
        width: 200px;
    }
</style>
