@page
@model VegeBioFinal.Pages.ProdutosCRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<div id="productsWrapper">
    <ul id="products" data-role="listview" data-inset="true">
        @foreach (var product in Model.Produto)
        {
            <li class="product">
                <a href="~/order/@product.id" title="Encomendar @product.nome">
                    <img class="product-image" src="~/images/@product.imageurl" alt="Imagem do @product.nome" />
                </a>
                <form method="post">
                    <input type="number" asp-for="produto.quantidade" placeholder="Quantidade" />
                    <button type="submit">Adicionar ao cabaz</button>
                </form>
                <p class="price">@string.Format("{0:C}", product.preco)</p>
                <p class="description">@product.descricao</p>
            </li>
        }
    </ul>
</div>
